body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f5f9;
}

.app {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
  text-align: center;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.menu-item:hover {
  background-color: #334155;
}

.content {
  flex: 1;
  padding: 30px;
}

.page-box {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.page-box h1 {
  margin-bottom: 15px;
  color: #1e293b;
}

.page-box p {
  color: #64748b;
  font-size: 16px;
}
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.card h2 {
  color: #1e293b;
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  color: #2563eb;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.student-table th,
.student-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.student-table th {
  background-color: #1e293b;
  color: white;
}

.danger {
  color: red;
  font-weight: bold;
}

.warning {
  color: orange;
  font-weight: bold;
}

.safe {
  color: green;
  font-weight: bold;
}